.env
.env.*
!.env.example
!.env (1).example

token.json
credentials/

*.db
*.db-shm
*.db-wal

__pycache__/
*.pyc

.langgraph_api/
logs/
downloads/

*.log

download
download (1)

output.txt
outputs.txt
output_easyocr.json
output_easyocr.txt

email_dump.json

ff.pdf
ocrtest.pdf

celerybeat-schedule*

test/sample_email.json
tree.txt
uvicorn_log.txt
